.features-h2{
    color: #DC780B;
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.2em;
text-align: center;

}

.features{
    margin-top: 150px;
}

.features-p{
    font-family: Philosopher;
font-size: 31px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
margin-top: 30px;
}

.features-h1{
    font-family: Philosopher;
font-size: 25px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
margin-top: 50px;
margin-left: -30px;
}

.features-p2{
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
width: 300px;
margin-left: -50px;
margin-top: 20px;
}

.features-item{
    margin-left: -100px;
    margin-top: 100px;
}

.features-img{
    margin-left: 30px;
}

.features-list{
    display: flex;
    margin-left: 180px;
    align-items: center;
    justify-content: space-between;
}

